@inject HttpClient httpClient;

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@Pizza.Special.Name</h2>
            @Pizza.Special.Description
        </div>
        <form class="dialog-body">
            <div>
                <label>Size:</label>
                <input type="range" min="@Pizza.MinimumSize"  max="@Pizza.MaximumSize" step="1"/>
                <span class="size-label">

                </span>
            </div>
        </form>
    </div>
</div>

@code {
    [Parameter]
    public Pizza Pizza { get; set; }
}
